@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
  background-image: url(img/bg.jpg);
}
:root {
  --txtcolor: whitesmoke;
  --bg-1: black;
}

.tagline {
  margin-top: 20px;
  text-align: center;
  color: var(--txtcolor);
}
.wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.content {
  background: var(--txtcolor);
  width: 420px;
  padding: 20px;
  border-radius: 10px;
}

/* ===================
Log In Buttons 
===================*/
.login-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-btn h2{
    margin-bottom: 20px;
}
.login-btn img {
  width: 25px;
}
.link-btn,
.git-btn {
    cursor: pointer;
  border: none;
  width: 250px;
  padding: 15px 10px;
  border-radius: 50px;
  
}
.link-btn {
  background: #1da1f2;
}
.git-btn {
  background: black;
}
.l-btn {
  margin-bottom: 15px;
}
.l-btn:hover{
    opacity: 85%;
}
.l-btn a {
    color: var(--txtcolor);
  margin-left: 5px;
  text-decoration: none;
  
}
.l-btn img,
.l-btn a {
  vertical-align: middle;
}

/* ====================
Form and Input Basics
=======================*/
.form {
  display: grid;
  place-content: center;
}
fieldset {
  border: none;
}
legend {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bolder;
}
input {
  width: 250px;
  padding: 15px 10px;
  border-radius: 50px;
  margin-bottom: 10px;
  border: none;
 
}
input:focus{
    outline: none !important;
    border:1px solid #f14e0d;
    box-shadow: 0px 0px 2px #f14e0d;
}

/* ============
Custom Checkbox
=============== */
.chk-input{
    width: 5%;
    /* margin: 10px 0px; */
}
.form .chk-container{
    display: block;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding-left: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.form .chk-container .chk-input{
    /* position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0; */
    display: none;
    cursor: pointer;
    /* Hide the browser's default checkbox */
}

.form .chk-container .checkmark{
    position: absolute;
    left: 0;
    top: 0;
    height: 22px;
    width: 23px;
    background-color: darkgray;
    border-radius: 5px;
    /* Create a custom checkbox */
}
.chk-container:hover input~.checkmark{
    background-color: crimson;
    cursor: pointer;

    /* On mouse-over, add a grey background color */
}
.chk-container input:checked~.checkmark{
    background:springgreen;
    /* When the checkbox is checked, add a blue background */
}
.chk-container .checkmark::after{
    content: "";
  position: absolute;
  display: none;
  
/* Create the checkmark/indicator (hidden when not checked) */
}


.chk-container input:checked ~ .checkmark:after {
    display: block;
    /* Show the checkmark when checked */
  }
  .chk-container .checkmark:after{
      position: absolute;
      left: 9px;
      top: 4px;
      width: 5px;
      height: 10px;
      border: solid whitesmoke;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      /* Style the checkmark/indicator */
  }

.form .chk-container .remember{
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 2px;
}
/* End of custom checkbox */

/* Input button */
input[type="button"]{
    font-size: large;
    font-weight: 600;
    letter-spacing: 2px;
    color: whitesmoke;
    background: springgreen;
    cursor: pointer;
    border: none;
    outline: none;

}
/* Sign Up */
.no-acc{
    margin: 10px 0;
    text-align: center;
}
.no-acc a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
}
/* CopyRight */
.copyright{
    margin: 20px 0;
    color: deepskyblue;
}
.copyright a{
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
}